.player{
    position: absolute;
    top: 16%;
    left: 30%;
    max-width: 750px;
    margin: auto;
    padding: 70px;
   min-height: 600px;
    height:auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.1);
    background-color:white;
}

  .su-td{
    color: black;
  }