.admin-page-container {
    position: absolute;
    top: 10%;
    left: 30%;
    max-width: 800px;
    margin: auto;
    padding: 70px;
   min-height: 500px;
    height:auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.1);
    background: transparent;
    backdrop-filter: blur(50px);
    color:aliceblue;
    /* margin-top: 200px; 
     padding-top: 200px; 
     padding: 200px;  */
}

  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submiti"] {
    background-color: #af6a4c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submiti"]:hover {
    background-color: #45a049;
  }
  
  .player-list {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    color: white;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  button[type="submitii"] {
    background-color: #511cf1;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submiti"]:hover {
    background-color: #0db8e8;
  }